*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    padding: 8px 45px;
    justify-content: space-between;
    background-color: #0c516d;
    color: #ffffff;
}
.rodape{
    display: flex;
    align-items: center;
    gap: 20px;
}